@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Indie+Flower&display=swap');

*{
	margin: 0;
}

header{
	background: rgb(40,1,50);
	color: red;
	padding: 10px 15px 15px;
    font-size: 5vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    font-family: 'Cormorant Garamond', serif;
}

header img{
    width: 15%;
    margin-left: 1vw;
    display: flex;
    justify-content: flex-start;
    }

nav{
	background: rgb(40,1,50);
    padding: 1vw 1vw 1vw;
    font-size: 1vw;
    display: flex;
    justify-content: space-evenly;
}

nav a{
background-color: red;
color: azure; 
padding-left: 3vw;
padding-right: 3vw;
padding-top: 1vw;
padding-bottom: 1vw;
border-top-left-radius: 1vw;
border-top-right-radius: 1vw;
border-bottom-left-radius: 1vw;
border-bottom-right-radius: 1vw;
text-decoration: none;
}

nav a:hover{
	color: orange;
    background-color: darkred;
    text-shadow: 5px 8px 15px blue;
    font-size: 200%;
}

main{
    font-size: 2vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    padding-left: 5vw;
    padding-right: 5vw;
    color: rgb(0, 0, 0);
    text-align: center;
}

main p{
    font-size: 5vw;
    padding-top: 2vw;
    padding-bottom: 5vw;
    padding-left: 5vw;
    padding-right: 5vw;
    color: rgb(0, 0, 0);
    text-align: center;
}
